global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      #- targets: [ '192.168.11.31:9100' ]
      - targets: [ '192.168.11.41:9100' ]
  - job_name: 'tempo'
    static_configs:
      - targets: [ 'tempo:3200' ]